<html>
<head>
	<style>
	.stitched {
   padding: 20px;
   margin: 10px;
   background: #ff0030;
   color: #fff;
   font-size: 21px;
   font-weight: bold;
   line-height: 1.3em;
   border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #ff0030, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   text-shadow: -1px -1px #aa3030;
   font-weight: normal;
}
	</style>
</head>
<body>
<div class="stitched">

  75% on Nike

</div>
<br/>
<div class="stitched">

  55% on Adidas

</div>
<br/>
<div class="stitched">

  50% on Arrow

</div>
</body>

</html>