<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GoDeals</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/jquery.js"></script>
    <script src="_assets/js/index.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
        <div class="container-fluid">
            <div class="row">
                <form action="/maps" method="get">
                    <div class="checkbox">
                    <label>
                        <input type="checkbox" name="restaurant"><i class="fa fa-cutlery" aria-hidden="true"></i> Restaurants
                    </label>
                    </div>
                    <div class="checkbox">
                    <label>
                        <input type="checkbox" name="shopping_mall"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping
                    </label>
                    </div>
                    <div class="checkbox">
                    <label>
                        <input type="checkbox" name="car_dealer"><i class="fa fa-car" aria-hidden="true"></i> Automotive
                    </label>
                    </div>
                    <div class="checkbox">
                    <label>
                        <input type="checkbox" name="plumber"><i class="fa fa-home" aria-hidden="true"></i>  Home Services
                    </label>
                    </div>
                    <div class="checkbox">
                    <label>
                        <input type="checkbox" name="cafe"><i class="fa fa-coffee" aria-hidden="true"></i> Coffee & Tea
                    </label>
                    </div>
                    <div class="checkbox">
                    <label>
                        <input type="checkbox" name="moving_company"><i class="fa fa-key" aria-hidden="true"></i> Local Services
                    </label>
                    </div>
                    <div class="checkbox">
                    <label>
                        <input type="checkbox" name="school"><i class="fa fa-book" aria-hidden="true"></i> Education
                    </label>
                    </div>
                    <div class="checkbox">
                    <label>
                        <input type="checkbox" name="food"><i class="fa fa-cutlery" aria-hidden="true"></i> Food
                    </label>
                    </div>
                    <div class="checkbox">
                    <label>
                        <input type="checkbox" name="pet_store"><i class="fa fa-paw" aria-hidden="true"></i> Pets
                    </label>
                    </div>
                    <div class="checkbox">
                    <label>
                        <input type="checkbox" name="lodging">Hotels & Travel
                    </label>
                    </div>

                    <div class="checkbox">
                    <label>
                        <input type="checkbox" name="art_gallery"><i class="fa fa-paint-brush" aria-hidden="true"></i>  Arts & Entertainment
                    </label>
                    </div>

                    <div class="checkbox">
                    <label>
                        <input type="checkbox" name="night_club">Nightlife
                    </label>
                    </div>
                    <div class="checkbox">
                    <label>
                        <input type="checkbox" name="beauty_salon">Beauty & Spa
                    </label>
                    </div>
                    <div class="checkbox">
                    <label>
                        <input type="checkbox" name="shoe_store"><i class="fa fa-flag" aria-hidden="true"></i> Shoe store
                    </label>
                    </div>
                    <div class="checkbox">
                    <label>
                        <input type="checkbox" name="florist"><i class="fa fa-star" aria-hidden="true"></i> Florist
                    </label>
                    </div>
                    <div class="checkbox">
                    <label>
                        <input type="checkbox" name="health"><i class="fa fa-medkit" aria-hidden="true"></i> Health Care
                    </label>
                    </div>
                    <div class="checkbox">
                    <label>
                        <input type="checkbox" name="finance"><i class="fa fa-money" aria-hidden="true"></i> Financial Services
                    </label>
                    </div>

                    <div class="checkbox">
                    <label>
                        <input type="checkbox" name="real_estate_agency"><i class="fa fa-home" aria-hidden="true"></i> Real Estate
                    </label>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>


        <div data-role="footer" data-position="fixed" data-tap-toggle="false" class="jqm-footer">
            <p style="margin-right: auto;">GoDeals</p>
        </div><!-- /footer -->

        </div>

</body>
</html>
